@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}

.module_1 {
  box-sizing: border-box;
  visibility: visible;
  position: absolute;
  width: 1383px;
  height: 50px;
  left: 26px;
  top: 25px;
  
  background: #C3BBBB;
  mix-blend-mode: normal;
  border: 0px solid #ff0000;
  border-radius: 20px;
  
  padding-left: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: 10px;
  color: #000000;
  z-index: -1;
}

.d1{
  visibility: visible;
  position: absolute;
  width: 59px;
  height: 18px;
  left: 880px;
  top: 0px;

  font-family: 'Inter';
  font-style: oblique;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.module_2{
    visibility: visible;
    box-sizing: border-box;
    position: absolute;
    width: 1382px;
    height: 893px;
    left: 26px;
    top: 104px;
    border: 0px solid #ff0000;
    background: #C3BBBB;
    border-radius: 20px;
    z-index: -1;
}
.module_3{
    visibility: visible;
    position: absolute;
    width: 538px;
    height: 40px;
    left: 44px;
    top: 480px;
    background: #D9D9D9;
    border-radius: 20px;
    border: 0px solid #ff0000;

    padding-left: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    color: #000000;
}
  
#map {
  position: absolute;
  width: 719px;
  height: 800px;
  left: 670px;
  top: 125px;
  border-radius: 20px;
  border: 0px solid #ff0000;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  visibility: visible;
  position: relative;
  display: flex;
  width: 552px;
  height: 40px;
  left: 35px;
  top: 526px;
  padding: 18px;
  border: 0px solid #ff0000;
  border-radius: 20px;
  margin: 10px;

  text-align: left;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 6px;
  font-size: 15px;
  transition: 0.4s;
 
  z-index: 1;
}
.active, .accordion:hover {
  background-color: #ccc; 
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 500px;
  position: absolute;
}

.active:after {
  content: "\2212";
}

.panel {
  visibility: visible;
  overflow: hidden;
  background-color: #eee;
  color: #444;
  cursor: pointer; 
  position: relative;
  display: none;
  width: 510px;
  height: auto;
  left: 35px;
  top: 526px;
  padding: 18px;
  border: 0px solid #ff0000;
  border-radius: 20px;
  margin: 10px;
  transition: 0.4s;
  outline: none;
  overflow: auto;

  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  font-size: 15px;
  background-color: #eee;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 8px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #50484d;
    border-bottom: 4px solid #7f727a;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.custom-btn {
  width: 80px;
  height: 25px;
  color: #fff;
  border-radius: 5px;
  left: 1290px;
  top: 38px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;

}
.btn-9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background-color: #1fd1f9;
background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}
.btn-9:hover {
  background: transparent;
  color: #fff;
}
.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
}

#map2 {
  position: absolute;
  left: 44px;
  top: 125px;
  border-radius: 20px;
  border: 0px solid #ff0000;
}
.regButton {
  width: 100px;
  height: 25px;
  color: #fff;
  border-radius: 5px;
  left: 1180px;
  top: 38px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
   background-color: #1fd1f9;
   background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    transition: all 0.3s ease;
  border: 0px solid #ccc;
  border-radius: 3px;
  position: absolute;
}

.regButton:hover {
  background: #ccc;
}

#window {
  width: 350px;
  height: 460px;
  margin: 40px auto;
  background: #fff;
  border: 5px solid #fff;
  border-radius: 15px;
  z-index: 150; display: none;
   position: fixed; left: 0;right: 0;top:0;bottom: 0;
} 
.form{
  width: 275px; margin: -15px auto 20px auto; text-align: center;} 
.input{
      width: 260px;padding: 5px; margin-bottom: 10px; } 
.radio{
  margin-bottom: 10px;} .close{margin: 10px 0 0 320px;cursor: pointer;border: 1px solid #ccc; padding: 2px; background: #ccc;} .close:hover{
      background: #fff;} 
#gray{opacity: 0.8; padding: 15px;
  background-color: rgba(1,1,1,0.75); position: fixed; left: 0;right: 0;top:0;bottom: 0; display: none; z-index:100; overflow: auto; } 
 
.search {
  visibility: visible;
  position: absolute;
  width: 100px;
  left: 955px;
  top: 32px;
  display: flex;
}
.searchTerm {
  width: 150px;
  border: 3px solid #b621fe;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-family: 'Inter';
  font-style: oblique;
}
.searchTerm:focus{
  color: #380136;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #b621fe;
  background: #b621fe;
  text-align: center;
  color: #eeeeee;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.module_4{
  visibility: visible;
  position: absolute;
  width: 705px;
  height: 40px;
  left: 670px;
  top: 940px;
  background: #D9D9D9;
  border-radius: 20px;
  border: 0px solid #ff0000;

  padding-left: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: #000000;
}
.button {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
  position: absolute; 
  top: 947px; 
  border-radius: 3px;
}
.button1 {
  padding: 5px 25px;
  left: 820px; 
  background-color: #b621fe;
} 
.button2 {
  background-color: #9721fe;
  left: 1050px;
  padding: 5px 25px;
} 
.button3 {background-color: #1fd1f9;
  left: 1240px;
  padding: 5px 35px;
} 