@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}

.module_1 {
  box-sizing: border-box;
  visibility: visible;
  position: absolute;
  width: 1382px;
  height: 50px;
  left: 26px;
  top: 25px;
  
  background: #C3BBBB;
  mix-blend-mode: normal;
  border: 1px solid #ff0000;
  border-radius: 20px;
  
  padding-left: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: 10px;
  color: #000000;
  z-index: -1;
}

.d1{
  visibility: visible;
  position: absolute;
  width: 59px;
  height: 18px;
  left: 1015px;
  top: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.d2 input {
      position: absolute;
      width: 175px;
      height: 18px;
      left: 1063px;
      top: 13px;
      border: 1px solid #ae1717;
      border-radius: 5px;
      outline: none;
      background: #ffffff;
      color: #5E5E5E;
}
.d2 button {
      position: absolute;
      width: 21px;
      height: 21px;
      left: 1353px;
      top: 14px;
      border: none;
      background: #5E5E5E;
      border-radius: 5px;
      cursor: pointer;
}
.d2 button:before {
      content: "";
      background-image: url('search-icon.jpeg');
      font-family: FontAwesome;
      font-size: 16px;
      color: #C3BBBB;
}
.module_2{
    visibility: visible;
    box-sizing: border-box;
    position: absolute;
    width: 1382px;
    height: 893px;
    left: 26px;
    top: 104px;
    border: 1px solid #ff0000;
    background: #C3BBBB;
    border-radius: 20px;
    z-index: -1;
}
.module_3{
    visibility: visible;
    position: absolute;
    width: 538px;
    height: 40px;
    left: 44px;
    top: 480px;
    background: #D9D9D9;
    border-radius: 20px;
    border: 1px solid #ff0000;

    padding-left: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    color: #000000;
}
  
#map {
  position: absolute;
  width: 719px;
  height: 850px;
  left: 650px;
  top: 125px;
  border-radius: 20px;
  border: 1px solid #ff0000;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  visibility: visible;
  position: relative;
  display: flex;
  width: 552px;
  height: 40px;
  left: 35px;
  top: 526px;
  padding: 18px;
  border: 1px solid #ff0000;
  border-radius: 20px;
  margin: 10px;

  text-align: left;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 6px;
  font-size: 15px;
  transition: 0.4s;
 
  z-index: 1;
}
.active, .accordion:hover {
  background-color: #ccc; 
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 500px;
  position: absolute;
}

.active:after {
  content: "\2212";
}

.panel {
  visibility: visible;
  overflow: hidden;
  background-color: #eee;
  color: #444;
  cursor: pointer; 
  position: relative;
  display: none;
  width: 510px;
  height: auto;
  left: 35px;
  top: 526px;
  padding: 18px;
  border: 1px solid #ff0000;
  border-radius: 20px;
  margin: 10px;
  transition: 0.4s;
  outline: none;
  overflow: auto;

  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  font-size: 15px;
  background-color: #ff0000;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 8px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #50484d;
    border-bottom: 4px solid #7f727a;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.custom-btn {
  width: 80px;
  height: 25px;
  color: #fff;
  border-radius: 5px;
  left: 1290px;
  top: 38px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background-color: #1fd1f9;
background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}
.btn-9:hover {
  background: transparent;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  color: #fff;
}
.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

#map2 {
  position: absolute;
  left: 44px;
  top: 125px;
  border-radius: 20px;
  border: 1px solid #ff0000;
}